<div id="<%= dom_id game %>">
  <p>
    <strong>Artworks:</strong>
    <%= game.artworks %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Platforms:</strong>
    <%= game.platforms %>
  </p>

  <p>
    <strong>Release dates:</strong>
    <%= game.release_dates %>
  </p>

  <p>
    <strong>Screenshots:</strong>
    <%= game.screenshots %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= game.summary %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= game.genre %>
  </p>

  <p>
    <strong>Total rating:</strong>
    <%= game.total_rating %>
  </p>

</div>
